# Ignore temporary files generated during testing
test_nvenc_output.mp4

# Ignore temporary directory created by temp_manager
.temp/
temp_processing/

# Python cache directories
__pycache__/

# Downloaded video files
videos/
dummy_video.mp4
video.mp4

# FFmpeg executable (if downloaded)
ffmpeg

# Test related files
tests/

# Ignore findings.txt
findings.txt

# Face database
video/face_db.json

# Project configuration
pyproject.toml
b_roll_assets/
REPORT.md
